.title {
  color: #e5015a;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.actionsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
